[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=krita_comfyui_transceiver
X-Python-2-Compatible=false
X-Krita-Manual=README.md
Name=krita_comfyui_transceiver
Comment=krita_comfyui_transceiver